.app {
  width: 600px;
  margin: 20px;
  background-color: blue;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  width: 33%;
  margin: 20px auto;
  padding: 20px 0 0;
}

.item-container {
  display: flex;
  align-items: center;
  border-bottom: 2px solid white;
  width: 600px;
  font-size: 1.5rem;
}

.box {
  transform: scale(2);
  margin: 20px;
}
